h1 {
  font-family: var(--font-tomorrow);
  font-weight: 600;
}

.intro-heading {
  font-size: clamp(3rem, 5vw, 10rem);
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  display: block;
  text-align: center;
}

.author-name {
  font-family: var(--font-yesteryear);
  font-size: 1.5rem;
}

.author-description {
  font-family: var(--font-syne);
  font-size: 0.9rem;
}

.question {
  font-family: var(--font-tomorrow);
  font-size: 1rem;
}

.answer {
  font-family: var(--font-syne);
}

.lfv {
  font-size: clamp(2rem, 4vw, 7rem);
  font-family: var(--font-zendots);
}
